# secrets
credentials
passwd
shadow
*.profile
*.bashrc
*.zshrc
*.zshenv
*_ecdsa
*_ed25519
*_history
*_rsa
*.boto3
*.cer
*.cer
*.der
*.key
*.key
*.p12
*.p7b
*.pcap
*.pem
*.pfx
*.pub
*.spc
*.sql
*.sst
*.stl

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
workspaceStorage/
globalStorage/
extensions/
!extensions/dummy.txt

# see https://github.com/github/gitignore
